/* css */

.cafe-box {
  position: relative;
  top: -100px;
  background-color: #fff;
  width: 92%;
  height: fit-content;
  min-height: min-content;
  max-height: max-content;
  padding: 10px;
  margin-top: 40px;
  background-color: #84a6352c;
  border-radius: 10px;
  box-shadow: 5px 8px 3px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  /*justify-content: center; */
}

.cafe-name {
  font-size: 20px;
  position: absolute;
  width: 260px;
  height: auto;
  top: 17px;
  left: 15px;
  font-weight: bold;
  color: #333;
  background-color: #84a6352c;
}

.operating-hours,
.operating-state,
.menu {
  position: relative;
  top: 55px;
  margin-top: 10px;
  margin: 20px;
  margin-left: 10px;
  font-size: 20px;
  color: #666;
  text-align: left;
  line-height: 1;
}

#cafeimg {
  position: absolute;
  left: 290px;
  top: 18px;
  width: 115px;
  height: 165px;
  border-radius: 30px;
}

.hash {
  background-color: #419764;
  position: relative;
  font-size: 15.5px;
  color: #fff;
  padding: 8px;
  top: 60px;
  margin: 5px;
  width: 155px;
  height: 20px;
  white-space: nowrap;
  border-radius: 15px;
  font-weight: lighter;
  text-align: center;
}

.hash-warp {
  display: flex;
  margin: 10px 0;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 60px;
}

.cafe-search{
  position: relative;
  width: 370px;
  height: 40px;
  padding: 8px;
  padding-top: 15px;
  margin-bottom: 20px;
  margin-top: 12px;
  background-color: #bddcb8;
  border-radius: 10px;
  box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.5);
  border: 0;
  padding-left: 60px;
  font-size: 23px;
  top: -200px;

}
::placeholder{

  font-size: 23px;
  font-weight: 500;
  color: #fff;
  width: 200px;
  height: 30px;
}
input{
  position: relative;
  left:-30px;
  width: 300px;
  height: 30px;
  background-color:#bddcb8;
font-size: 23px;
}
/* .icon-search {
  position:relative;
  top: 300px;
  left: 10px;
  font-size: 30px;
} */