/* css */

.cafe-box {
  position: relative;
  background-color: #fff;
  width: 92%;
  height: 300px;
  padding: 10px;
  margin-top: 40px;
  background-color: #84a6352c;
  border-radius: 10px;
  box-shadow: 5px 8px 3px rgba(0, 0, 0, 0.5);
  /* text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; */
}

.cafe-name {
  font-size: 30px;
  position: absolute;
  font-weight: bold;
  color: #333;
  transform: translate(10%, 30%);
}

.operating-hours,
.operating-state,
.menu {
  position: relative;
  top: 60px;
  margin: 20px;
  margin-left: 10px;
  font-size: 20px;
  color: #666;
  text-align: left;
  line-height: 1;
}

#cafeimg {
  position: absolute;
  left: 270px;
  top: 20px;
  width: 120px;
  height: 170px;
  border-radius: 30px;
}

.hash {
  background-color: #419764;
  position: relative;
  font-size: 15px;
  color: #fff;
  padding: 8px;
  top: 65px;
  margin: 5px;
  width: 150px;
  height: 20px;
  white-space: nowrap;
  border-radius: 15px;
  font-weight: lighter;
}

.hash-warp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
