/* css */

.cafe-box {
  position: relative;
  background-color: #fff;
  width: 92%;
  height: 300px;
  padding: 10px;
  margin-top: 40px;
  background-color: #84a6352c;
  border-radius: 10px;
  box-shadow: 5px 8px 3px rgba(0, 0, 0, 0.5);
  /* text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; */
}

.cafe-name {
  font-size: 28px;
  position: absolute;
  width:270px;
  height:auto;
  text-shadow: #000000;
  top: 17px;
  left: -10px;
  font-weight: bold;
  text-align:  center;
  color: #fff;
  transform: translate(10%, 30%);
  background-color: #419764;
  border-radius: 15px;
  border-color: #666;
}

.operating-hours,
.operating-state,
.menu {
  position: relative;
  top: 80px;
  margin: 20px;
  margin-left: 10px;
  font-size: 20px;
  color: #666;
  text-align: left;
  line-height: 1;
}

#cafeimg {
  position: absolute;
  left: 290px;
  top: 20px;
  width: 120px;
  height: 170px;
  border-radius: 30px;
}

.hash {
  background-color: #419764;
  position: relative;
  font-size: 15.5px;
  color: #fff;
  padding: 8px;
  top: 78px;
  margin: 5px;
  width: 155px;
  height: 20px;
  white-space: nowrap;
  border-radius: 15px;
  font-weight: lighter;
  text-align: center;
}

.hash-warp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


