/* 사이드 영역 */

aside {
  width: 450px;
  max-width: 450px;
  border-right: 2px solid black;
  padding: 20px;
  overflow-y: auto;
  flex-shrink: 0;
  max-height: 800px;
  pointer-events: auto;
}

#side {
  width: 98%;
  padding: 0;
  margin: 0 auto;
}
